<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>社員一覧 | 社員管理システム</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_list">
	<article><h3>社員一覧画面</h3></article>


	<!-- 管理者権限がある場合のみ新規登録リンクを表示 -->
	<th:block th:if="${session.user.authority == 2}">
		<div class="regist_link">
			<a th:href="@{/regist/input}">新規社員登録</a>
		</div>
	</th:block>

	<!-- 社員情報が存在しない場合 -->
	<th:block th:if="${#lists.isEmpty(employees)}">
		<div class="message">
			<p class="back_to_top_message">該当する社員は存在しません。</p>
			<p class="back_to_top_link"><a th:href="@{/list}">一覧表示に戻る</a></p>
		</div>
	</th:block>

	<!-- 社員情報が存在する場合 -->
	<table class="list_table" th:if="${not #lists.isEmpty(employees)}">
		<tr>
			<th>社員ID</th>
			<th>社員名</th>
			<th:block th:if="${session.user.authority == 2}">
				<th class="gender">性別</th>
				<th class="address">住所</th>
				<th class="birthday">生年月日</th>
				<th class="authority">権限</th>
			</th:block>
			<th class="deptName">部署名</th>
			<th:block th:if="${session.user.authority == 2}">
				<th class="button">変更</th>
				<th class="button">削除</th>
			</th:block>
		</tr>

		<tr th:each="employee : ${employees}">
			<td th:text="${employee.empId}"></td>
			<td th:text="${employee.empName}"></td>
			
			
			<th:block th:if="${session.user.authority == 2}">
				
				<td th:if="${employee.gender != 1}">女性</td>
				<td th:if="${employee.gender == 1}">男性</td>
				<td th:text="${employee.address}"></td>
				<td th:text="${employee.birthday}"></td>
				<td th:if="${employee.authority == 2}">管理者</td>
				<td th:if="${employee.authority == 1}">一般</td>
			</th:block>
			<td class="deptName" th:text="${employee.department.deptName}"></td>

			<!-- 管理者のみ変更・削除可能 -->
			<th:block th:if="${session.user.authority == 2 }">
				<td class="button">
					<a class="button-style" th:href="@{/update/input/{id}(id=${employee.empId})}">変更</a>
				</td>
				<td class="button">
					<a class="button-style" th:href="@{/delete/confirm/{id}(id=${employee.empId})}">削除</a>
				</td>
			</th:block>
			<!--            <th:block th:unless="${session.user.authority ==  }">-->
			<!--                <td class="button"></td>-->
			<!--                <td class="button"></td>-->
			<!--            </th:block>-->
		</tr>
	</table>
</body>

</html>